::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
}

h1 {
  font: 13.3vh "Value Sans Pro";
  margin: 0;
  text-align: center;
}
h2 {
  font-size: 35px;
  margin: 0;
}
p {
  margin: 0;
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Value Sans Pro";
}

main {
  width: 77vw;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .w-85-t {
    width: 85vw;
  }
}
@media only screen and (max-width: 480px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
}
