body {
  background: rgba(45, 211, 18, 0.19);
}

h1 {
  text-align: left;
  letter-spacing: 2vw;
}

h1 span {
  opacity: 0;
}

h1 span:nth-of-type(2) {
  animation-delay: 0.5s;
}
h1 span:nth-of-type(3) {
  animation-delay: 1s;
}
h1 span:nth-of-type(4) {
  animation-delay: 1.5s;
}
h1 span:nth-of-type(5) {
  animation-delay: 2s;
}
h1 span:nth-of-type(6) {
  animation-delay: 2.5s;
}
h1 span:nth-of-type(7) {
  animation-delay: 3s;
}

.animate__appearence span {
  animation: appearence 0.5s linear forwards;
}

@keyframes appearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
